/*swiper setup*/
html, body {
  height: 100%;
  background-color: #CBDFC0;

}
body{
  background-color: #CBDFC0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    background-color: #CBDFC0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #CBDFC0;
      }
/*navbar*/
.navbar{
  margin-bottom: 0 !important;
  border-radius: 0;
}
.navbar-custom{
  width: 100%;
  margin-bottom: 0;
  background-color: #2C9349;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-secondary {
    width: 30%;
    margin-top: 5px;
    margin-right: 1px;
    background: #83AC8E;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    background: #CBDFC0;
}

.btn-secondary:active, .btn-secondary.active {
    background: #CBDFC0;
    box-shadow: none;
}
.intro{
  font-family: 'Roboto', sans-serif;
}

#map {
  height: 70%;

}
.flickr-title{
  margin-left: 50px;
  text-align:left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
}

/*Twitter styles*/
.fa-twitter .btn-social-icon{
  align: right;
}
.tweet{
  width: 90%;
  height: 100%;
  border: none;

}
.scroll-wrapper{
  -webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
  position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.scroll-wrapper iframe {

}
.profile{
  align-items: left;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.attr-name{
  float: right;
}
/*the name*/
.screen-name{
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin-bottom: 0px;

}
.screen-name:hover{
  text-decoration: none;
  color: #2C9349;

}
.screen-name:active{
  text-decoration: none;
  color: #2C9349;
}
/*the @ part*/
.user-name {
  font-family: sans-serif;
  color: green;
  margin-top: 0px;
}
.twitter-media{
  max-width: 200px;
  margin-left: 25px;
  margin-top: 5px;
  border-radius: 5px;
}
.time{
  color: #a9b7c1;
  font-family: helvetica;
  font-size: 10px;
  margin-top: 5px;
}

.tweet-content{
  background-color: #FAFCFC;
  font-family: Helvetica ;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.btn-twitter{
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}
.twit-scroll-wrapper{
  -webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
  position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}
