/*swiper setup*/
html, body {
  height: 100%;
  background-color: #CBDFC0;

}
body{
  background-color: #CBDFC0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    background-color: #CBDFC0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #CBDFC0;
      }
/*navbar*/
.navbar{
  margin-bottom: 0 !important;
  border-radius: 0;
}
.navbar-custom{
  width: 100%;
  margin-bottom: 0;
  border: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+12,2c9349+83 */
  background: rgb(0,110,46); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,110,46,1) 12%, rgba(44,147,73,1) 83%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,110,46,1) 12%,rgba(44,147,73,1) 83%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,110,46,1) 12%,rgba(44,147,73,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#2c9349',GradientType=0 ); /* IE6-9 */

}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-secondary {
    width: 30%;
    margin-top: 5px;
    margin-right: 1px;
    background: #83AC8E;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    background: #CBDFC0;
}

.btn-secondary:active, .btn-secondary.active {
    background: #CBDFC0;
    box-shadow: none;
}
.slide-intro{
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #CBDFC0;
  border-radius: 5px;
  background-color: #FAFCFC;

}
.intro{
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  font-size: 12px;
  text-align: center;
}
.logo{
  margin-top: 5px;
  align-items: center;
}

#map {
  height: 70%;

}
.results{
  margin-top: 20px;
  margin-bottom: 20px;
}
.flickr-title{
  margin-left: 50px;
  text-align:left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
}

/*Twitter styles*/
.fa-twitter .btn-social-icon{
  align: right;
}
.tweet{
  width: 90%;
  height: 100%;
  border: none;

}
.scroll-wrapper{
  -webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
  position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.scroll-wrapper iframe {

}
.profile{
  align-items: left;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.attr-name{
  float: right;
}
/*the name*/
.screen-name{
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin-bottom: 0px;

}
.screen-name:hover{
  text-decoration: none;
  color: #2C9349;

}
.screen-name:active{
  text-decoration: none;
  color: #2C9349;
}
/*the @ part*/
.user-name {
  font-family: sans-serif;
  color: green;
  margin-top: 0px;
}
.twitter-media{
  max-width: 200px;
  margin-left: 25px;
  margin-top: 5px;
  border-radius: 5px;
}
.time{
  color: #a9b7c1;
  font-family: helvetica;
  font-size: 10px;
  margin-top: 5px;
}

.tweet-content{
  background-color: #FAFCFC;
  font-family: Helvetica ;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.btn-twitter{
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}
.twit-scroll-wrapper{
  -webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
  position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}
.footer{
  width: 100%;
  height: 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cbdfc0+13,2c9349+72&amp;0.95+27,0.95+40,1+51,1+62 */
  background: -moz-linear-gradient(top,  rgba(203,223,192,0.95) 13%, rgba(165,205,164,0.95) 27%, rgba(130,188,138,0.95) 40%, rgba(100,174,116,1) 51%, rgba(71,160,93,1) 62%, rgba(44,147,73,1) 72%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(203,223,192,0.95) 13%,rgba(165,205,164,0.95) 27%,rgba(130,188,138,0.95) 40%,rgba(100,174,116,1) 51%,rgba(71,160,93,1) 62%,rgba(44,147,73,1) 72%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(203,223,192,0.95) 13%,rgba(165,205,164,0.95) 27%,rgba(130,188,138,0.95) 40%,rgba(100,174,116,1) 51%,rgba(71,160,93,1) 62%,rgba(44,147,73,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2cbdfc0', endColorstr='#2c9349',GradientType=0 ); /* IE6-9 */

}
