html, body {
  height: 100%;

}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;}
.navbar{
  width: 100%;
}
#map {
  height: 60%;

}
/*Twitter styles*/
.fa-twitter{
  align: right;
}
.tweet{
  width: 90%;
  height: 100%;


}

.link{
  font-family: sans-serif;
  color: green;
}

.tweet-content{
padding: 10px;
margin: 10px;
border: 1px solid gray;
border-radius: 10px;
}
.profile{
  align: right;
  margin: 5px;
}
